<h1>Nominasjonen er godkjent</h1>

<p>Hei, <%= @nomination.nominator %>!</p>

<p>Takk for at du nominerte <%= @nomination.name %> til vår kåring av fantastiske formidlere. Vi har nå godkjent nominasjonen din. Du kan finne den <a href="https://morgenbladet.no/fantastiskeformidlere#institution=<%= @nomination.institution.id %>">på Morgenbladet.no</a>.</p>

<p>Med vennlig hilsen juryens sekretærer hos Morgenbladet.</p>
