// Place all the styles related to the Nominations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.nomination {
  border-top: 1px solid #005ca9;

  .institution, .personalia, .votes {
    display: inline-block;
  }

  .institution {
    width: 25em;
  }
  .personalia, .votes {
    width: 10em;
  }
  .nominator {
    font-style: italic;
  }

  ol {
    list-style-type: lower-roman;
    margin-left: 0;
    padding-left: 2em;
  }
  h2 small {
    font-size: 12px;
    color: #777;
  }
}

a.sortable.desc::after {
  content: "↑";
}

a.sortable.asc::after {
  content: "↓";
}

li.reason {
  border-bottom: 1px solid #888;
  padding: 2em;
}

li.reason.unverified {
  background: #ffeeee;
}
